@model GameViewModel
@using GameOfTheGenerals.Web.Models

@section css{
    <link href="~/css/game.css" rel="stylesheet" />
}

<div>
    <table id='game'></table>
</div>

@section scripts
    {
    <script src="~/js/jsboard.js"></script>
    <script src="~/js/game.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var model = @Html.Raw(Json.Serialize(Model));
        init(model);
    </script>

} 